ipykernel
ipython
ipython-genutils
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
tensorflow
numpy==1.19.0
pandas
plotly
scikit-learn
scipy==1.4.1
seaborn
sklearn
statsmodels
matplotlib